# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/
.venv/
env/

# =========================
# Flask
# =========================
instance/
*.log

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# PyCharm / JetBrains
# =========================
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
